html, body, #root {
    height: 100%;
}

body {
    background-color: rgba(227, 227, 227, 1.0);
}

.Organizer {
    max-width: 800px;
    width: calc(100% - 100px);
    display: block;
    background-color: white;
    margin: 25px 25px;
    padding: 5px 20px;
    min-height: calc(100% - 60px);
    box-shadow: 0px 0px 7px rgba(80, 80, 80, 0.5);
    white-space: pre-wrap;
}

.Organizer:focus {
    outline: 0px solid transparent;
}

.Organizer .tag:empty {
    display: block;
    height: 1em;
}
